$primary-palette: (
  50: #e6e8fc,
  100: #c2c5f6,
  200: #999ff1,
  300: #7078eb,
  400: #515be6,
  500: #323ee2,
  600: #2d38df,
  700: #2630da,
  800: #1f28d6,
  900: #131bcf,
  A100: #fefeff,
  A200: #cbcdff,
  A400: #989bff,
  A700: #7f83ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$accent-palette: (
  50: #e0f6f1,
  100: #b3e9db,
  200: #80dbc4,
  300: #4dcdac,
  400: #26c29a,
  500: #00b788,
  600: #00b080,
  700: #00a775,
  800: #009f6b,
  900: #009058,
  A100: #bcffe1,
  A200: #89ffca,
  A400: #56ffb3,
  A700: #3cffa7,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$warn-palette: (
  50: #ffe3e7,
  100: #ffb8c2,
  200: #ff899a,
  300: #ff5972,
  400: #ff3653,
  500: #ff1235,
  600: #ff1030,
  700: #ff0d28,
  800: #ff0a22,
  900: #ff0516,
  A100: #ffffff,
  A200: #fff3f4,
  A400: #ffc0c3,
  A700: #ffa7aa,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
